body {
  margin: 0;
  overflow: hidden;
}

canvas {
  position: absolute;
}

.toolbar {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.toolbar .button {
  margin-left: 8px;
  padding: 6px 8px;
  color: #999;
  border: 1px solid;
  border-radius: 4px;
}

.toolbar .button .iconfont {
  font-size: 20px;
}

.preview-cover {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 0.4s;
  opacity: 0;
  pointer-events: none;
}
.preview-cover.mask {
  background-color: rgba(165, 165, 165, .4);
  opacity: 1;
  pointer-events: initial;
}
.preview-cover .icon-play {
  color: #fff;
  font-size: 44px;
}
.preview-cover p {
  color: #fff;
}
